@import '../scss/_breakpoints';
@import '../scss/_colors';

.contact-links {
  font-family: 'Camphor', Open Sans, Segoe UI, sans-serif;
  font-size: 1.2em;
  text-align: center;
  margin-top: 150px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;

  @include mobile {
    flex-direction: column;
    margin-top: 80px;
    padding-bottom: 80px;
  }

  span {
    display: flex;
    align-items: center;  // Align icons and text properly
    @include mobile {
      margin: 20px 0;
    }

    &:after {
      content: '||';
      color: $grey;
      margin: 0 30px;

      @include mobile {
        content: '';
        margin: 0;
      }
    }

    &:nth-child(3) {
      &:after {
        content: '';
        margin: 0;
      }
    }
  }

  a {
    position: relative;
    text-decoration: none;
    color: $fadedPurple;
    display: flex;          // Ensures icons and text align horizontally
    align-items: center;    // Centers the icon and text vertically
    font-size: 1.2em;       // Match font size with your existing text

    svg {
      margin-right: 8px;     // Adds space between icon and text
      font-size: 1.5em;       // Adjust icon size
    }

    &:after {
      display: block;
      position: absolute;
      left: 0;
      bottom: -30px;
      width: 0;
      height: 8px;
      background-color: $purple;
      content: '';
      transition: width 0.15s;

      @include mobile {
        bottom: -15px;
      }
    }

    &:hover {
      color: $fadedBlue;

      &:after {
        width: 100%;
      }
    }
  }
}
